@model Models.Dto.AlunoFiltroDto
@{
    ViewData["Title"] = "Alunos";
}
<div class="row mt-4">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">
                    <i class="card-icon mdi mdi-cloud-search text-primary icon-md" style="margin-right: 15px"></i>Consultar Alunos
                </h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Aluno", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="Nome">Nome</label>
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Email">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dtNascimento">Data Nascimento</label>
                            @Html.TextBoxFor(m => m.DataNascimento, new { @id = "dtNascimento", @class = "form-control", @name = "dtNascimento" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="PaginaAtual">Pagina Atual</label>
                            @Html.TextBoxFor(m => m.PaginaAtual, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="TotalPorPagina">Total Por Pagina</label>
                            @Html.TextBoxFor(m => m.TotalPorPagina, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mr-2">
                            Consultar
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });
        $(window).on("load", function () {
            console.log("window loaded");
            $('#dtNascimento').datepicker({ locale: 'pt-br' });
        });
    </script>
}